<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478015530075-eutu0rcq4cctmd7sd5bqmsj9hmj892kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478015530075-eutu0rcq4cctmd7sd5bqmsj9hmj892kn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478015530075-47r6ivehn5pv09n1nrneqgrnmo7u05n0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOly4jk7alcXBezSDbv0jAw5UB0NIoAZo</string>
	<key>GCM_SENDER_ID</key>
	<string>478015530075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ng.borome.ios</string>
	<key>PROJECT_ID</key>
	<string>borome-a8ad8</string>
	<key>STORAGE_BUCKET</key>
	<string>borome-a8ad8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478015530075:ios:5ce6a99e7ff17fb6188b7e</string>
	<key>DATABASE_URL</key>
	<string>https://borome-a8ad8.firebaseio.com</string>
</dict>
</plist>